{% extends "course/course_layout.html" %}
{% block course_content %}
  {% if current_user.profession == 'Teacher' and edit == 'true' %}
    <form class="needs-validation form-group" action="" method="POST" novalidate>
      {{ syllabusform.hidden_tag() }}
      <div class="course-content mt-2">
        {{ syllabusform.syllabus(class="syllabus-textarea", id="mytextarea") }}
        <div class="d-flex justify-content-center mt-2 mb-5">
          {{ syllabusform.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>
  {% else %}
    <div class="course-content mt-2">
      {{ course.syllabus|safe }}
      {% if current_user.profession == "Teacher" %}
        <div class="d-flex justify-content-center my-5">
          <form action="" method="GET">
            <button class="btn btn-outline-warning mx-2 mb-5" type="submit" name="edit" value="true">Edit Syllabus</button>
          </form>
          <form action="" method="GET">
            <button class="btn btn-outline-danger mx-2 mb-5" type="submit" name="delete" value="true">Delete Course</button>
          </form>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock course_content %}
