html, body {
  /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
   height: 100%;
}

.side-nav {
  list-style-type: none;
  padding: 0;
}

.side-nav-item {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.extra-margin {
  margin-top: 10rem;
}

/* USER PROFILE */

.profile-img {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

.email-profile {
  width: 100px;
}

.file-upload {
  border-top: 2px black;
}

.bio-size {
  width: 500px;
  min-height: 150px;
}

/* COURSES ADD/NEW BUTTON */

.btn-link {
  border: none;
  background: none;
  outline: none !important;
  padding: 0;
  font-size: 2rem;
}

/* COURSE CARDS */

.card-size {
  width: 18rem;
  height: 18rem;
}

.card-click:hover {
  text-decoration: none;
}

.card-click:hover {
  color: DodgerBlue;
}

.card-shadow:hover {
  box-shadow:0 0 1rem rgba(0,0,0,.1);
}
