html, body {
  /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
   height: 100%;
}

.extra-margin {
  margin-top: 10rem;
}

/* USER PROFILE */

.profile-img {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

.email-profile {
  width: 100px;
}

.file-upload {
  border-top: 2px black;
}

.bio-size {
  width: 500px;
  min-height: 150px;
}

/* COURSES ADD/NEW BUTTON */

.btn-link {
  border: none;
  background: none;
  outline: none !important;
  padding: 0;
  font-size: 2rem;
}

/* COURSE CARDS */

.card-size {
  width: 18rem;
  height: 18rem;
}

.card-click:hover {
  text-decoration: none;
}

.card-click:hover {
  color: DodgerBlue;
}

.card-shadow:hover {
  box-shadow:0 0 1rem rgba(0,0,0,.1);
}

/* DASHBOARD SIDE NAV */
.sidenav {
  height: 100%;
  width: 5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.navdrop {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

.navdrop a {
  text-decoration: none;
  margin-bottom: 1rem;
}

.sidenav-text {
  font-size: .75rem;
}

.sidenav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INDIVIDUAL COURSE NAV */
.coursenav {
  height: 100%;
  width: 7rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1;
  top: 6rem;
  left: 5rem;
  background-color: #ffffff;
  overflow-x: hidden;
}

.coursenav a {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* INDIVIDUAL COURSE */
.course-title {
  margin: 0 1rem 0 1rem;
}

.course-content {
  margin: 0 1rem 0 1rem;
  padding-bottom: 3rem;
}

.syllabus-textarea {
  height: 500px;
}

/* INDIVIDUAL COURSE - MEDIUM */
@media (min-width: 768px) {
  .course-title {
    margin-left: 2.5rem !important;
    margin-right: 1rem !important;
  }

  .course-content {
    margin: 0 1rem 0 10rem !important;
    padding-bottom: 3rem;
  }
}
