html, body {
  /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
   height: 100%;
}

.extra-margin {
  margin-top: 10rem;
}

/* USER PROFILE */

.profile-img {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
  border-radius: 50% !important;

  padding: .25rem;
  background-color: #fff;
  border: 3px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

.email-profile {
  width: 100px;
}

.file-upload {
  border-top: 2px black;
}

.bio-size {
  width: 500px;
  min-height: 150px;
}

/* COURSES ADD/NEW BUTTON */

.btn-link {
  border: none;
  background: none;
  outline: none !important;
  padding: 0;
  font-size: 2rem;
}

/* COURSE CARDS */

.card-size {
  width: 18rem;
  height: 18rem;
}

.card-click:hover {
  text-decoration: none;
}

.card-click:hover {
  color: DodgerBlue;
}

.card-shadow:hover {
  box-shadow:0 0 1rem rgba(0,0,0,.1);
}

.card-title-header {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0 .25rem 0;
  background-color: #000000;
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
}

/* DASHBOARD SIDE NAV */
.sidenav {
  display: none;
}

@media (min-width: 768px) {
  .sidenav {
    height: 100%;
    width: 5rem;
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff !important;
    box-shadow: inset -.3rem 0 0 0 #ffc107;
    overflow-x: hidden;
  }
}

.sidenav a {
  text-decoration: none;
  font-size: 2rem;
}

.sidenav-text {
  font-size: .75rem;
}

.sidenav-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 1.25rem 0 1.25rem 0;
}

.sidenav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: #007bff;
  padding: 1rem 0 .75rem 0;
}

.sidenav-brand:hover {
  color: #ffffff;
}
.sidenav-item:hover {
  color: #ffffff;
  font-size: 2.25rem;
  padding: .85rem 0 .65rem 0;
}

/* SIDENAV BORDER COLORS */
.r-border-red {
  box-shadow: inset -.3rem 0 0 0 #dc3545;
}

.r-border-yellow {
  box-shadow: inset -.3rem 0 0 0 #ffc107;
}

.r-border-green {
  box-shadow: inset -.3rem 0 0 0 #28a745;
}

/* --------------------- */

.navdrop {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
}

.navdrop a {
  text-decoration: none;
  margin-bottom: 1rem;
}

/* INDIVIDUAL COURSE NAV */
.coursenav {
  height: 100%;
  width: 7rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1;
  top: 6rem;
  left: 6.5rem;
  background-color: #ffffff;
  overflow-x: hidden;
}

.coursenav a {
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* INDIVIDUAL COURSE */
.course-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.15rem 1rem 0 1rem;
  padding-bottom: .6rem;
}

.course-content {
  margin: 0 1rem 0 1rem;
  padding: .5rem 0 3rem 0;
}

.syllabus-textarea {
  height: 500px;
}

/* INDIVIDUAL COURSE - MEDIUM */
@media (min-width: 768px) {
  .course-title {
    flex-direction: row !important;
    justify-content: start !important;
    margin-left: 4rem !important;
    margin-right: 1rem !important;
  }

  .course-content {
    margin: 0 1rem 0 11.5rem !important;
    padding: .5rem 0 3rem 0;
  }
}

/* ASSIGNMENTS */

td a:hover {
  text-decoration: none;
}
