{% extends "course_layout.html" %}
{% block course_content %}
{% if current_user.id == course.teacher_id %}
  <!-- MODAL DELETE ASSIGNMENT -->
  <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="ml-3">Delete Assignment</h2>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form class="form-group" action="" method="POST">
          <div class="modal-body d-flex justify-content-center align-items-center m-0">
            <p class="mx-2">Are you sure you wish to delete this assignment?</p>
            <button class="btn btn-outline-danger mb-0" type="submit" name="delete" value="true">Yes</button>
            <button class="mx-1 btn btn-outline-warning mb-0" type="button" data-dismiss="modal">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
  <div class="course-content">
    <div class="assignment-title">
      <h3>{{ assignment.title }}</h3>
    </div>
    <div class="assignment-info">
      <h5>Due: {{ assignment.duedate }}</h5>
      <h5 class="ml-1">Points: {{ assignment.points }}</h5>
      <h5 class="ml-1">Questions: {{ questions| length }}</h5>
    </div>
    <div class="assignment-instructions">
      <h5>Instructions:</h5>
      <p>{{ assignment.content| safe }}</p>
    </div>

    {% if done == False %}
      <form class="form-group" action="" method="POST">
        {% for i in range(questions| length) %}
          <div class="questions">
            <div class="card">
              <div class="card-header">
                <h4>{{ questions[i].title }}</h4>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ questions[i].content }}</h5>
                {% if questions[i].type == "multiple_choice" %}
                  {% for option in options_dict[questions[i].title] %}
                    <div class="options">
                      <input id="question_{{ i }}" type="radio" name="question_{{ i }}" value="{{ option.content }}">
                      <label for="question_{{ i }}">{{ option.content }}</label>
                    </div>
                  {% endfor %}
                {% elif questions[i].type == "input" %}
                  <input class="form-control" type="text" name="question_{{ i }}">
                {% else %}
                  <textarea id="mytextarea" class="form-control" name="question_{{ i }}" rows="8" cols="80"></textarea>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
          {% if current_user.id != course.teacher_id and assignment.type != "Instructions" %}
            <button class="btn btn-outline-primary" type="submit" name="button">Submit</button>
          {% endif %}
        </div>
      </form>
        {% if current_user.id == course.teacher_id %}
        <div class="d-flex justify-content-center">
          <button class="btn btn-outline-danger mx-2 mb-5" type="button" data-toggle="modal" data-target="#delete_modal">Delete Assignment</button>
        </div>
        {% endif %}
    {% else %}
      {% if assignment.type != "Instructions" %}
        <p>Finished!</p>
      {% endif %}
    {% endif %}

  </div>
{% endblock course_content %}
