{% extends "course_layout.html" %}
{% block course_content %}
  <div class="course-content">
      <table class="table table-hover text-center border">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(assignments| length) %}

              <!-- ADD IF statement for table-success
              if current_user has submitted the assignment -->

              {% if assignments[i].duedate_time > current_time %}
                <tr class="">
                  <td class="assignment-link"><a href="/dashboard/courses/{{ course.id }}/assignments/{{ assignments[i].id }}">{{ assignments[i].title }}</a></td>
                  <td>{{ assignments[i].duedate_ctime }}</td>
                </tr>
              {% elif assignments[i].duedate_time <= current_time %}
                <tr class="table-danger">
                  <td class="assignment-link"><a href="/dashboard/courses/{{ course.id }}/assignments/{{ assignments[i].id }}">{{ assignments[i].title }}</a></td>
                  <td>{{ assignments[i].duedate_ctime }}</td>
                </tr>
              {% endif %}
          {% endfor %}
        </tbody>
      </table>
    <div class="d-flex justify-content-center my-1">
      <a class="btn btn-outline-primary" href="/dashboard/courses/{{ course.id }}/assignments/new">New Assignment</a>
    </div>
  </div>
{% endblock course_content %}
