{% extends "dashboard.html" %}
{% block content_dash %}

  {% if current_user.profession == "Teacher" %}
  <!-- MODAL NEW COURSE -->
      <div id="new_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="ml-3">Create New Course</h2>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <form class="needs-validation form-group mb-0" method="POST" novalidate>
              {{ new_course.hidden_tag() }}
              <div class="modal-body mt-0">
                <div class="col mt-2">
                  {{ new_course.title(class="form-control", placeholder="Title") }}
                </div>
                <div class="col mt-2">
                  {{ new_course.subject(class="form-control", placeholder="Subject") }}
                </div>
                <div class="col my-2">
                  {{ new_course.points(class="form-control", placeholder="Max Points") }}
                </div>
              </div>
              <div class="modal-footer">
                {{ new_course.submit(class="btn btn-outline-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
  {% elif current_user.profession == "Student" %}
  <!-- MODAL ADD COURSE -->
  <div id="add_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="ml-3">Add Course</h2>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form class="form-group" action="" method="POST">
          {{ add_course.hidden_tag() }}
          <div class="modal-body">
              <div class="col">
                <h5>Paste Your Course ID</h5>
              </div>
              <div class="col">
                {{ add_course.id(class="form-control", placeholder="Course ID") }}
                <small class="text-muted mt-1 ml-2">This should have been emailed to you by your professor.</small>
              </div>
          </div>
          <div class="modal-footer pb-0">
            {{ add_course.submit(class="btn btn-outline-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- SECTION 1 - COURSES -->
  <div class="course-title border-bottom">
    <h2>Courses</h2>
  </div>
  <section>

    <!-- Include flash messaging here somehow -->
    
    <div class="container mx-md-5">
      <div class="row mt-5">
        {% for i in range(courses| length) %}
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-5">
          <a id="course_{{ i }}" class="card-click" href="/dashboard/courses/{{ courses[i].id }}">
            <div class="card card-shadow card-size my-2">
              <div class="card-title-header">
                <h5 class="text-white">
                  {{ courses[i].title }}
                </h5>
              </div>
              <div class="card-body d-flex align-items-center justify-content-center">
                  <p class="card-text">
                    {{ courses[i].subject }}
                  </p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <!-- SECTION 2 - CREATE COURSE LINK -->
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card card-size my-2 border-0">
            <div class="card-body d-flex align-items-center justify-content-center">
                <form action="" method="GET">
                  {% if current_user.profession == 'Teacher' %}
                    <button id="new" class="btn-link noSelect" type="button" data-toggle="modal" data-target="#new_modal"><i class="fas fa-plus"></i></button>
                  {% else %}
                    <button id="add" class="btn-link" type="button" data-toggle="modal" data-target="#add_modal"><i class="fas fa-plus"></i></button>
                  {% endif %}
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="{{ url_for('static', filename='js/courses.js')|autoversion }}"></script>
{% endblock content_dash %}
