{% extends "dashboard.html" %}
{% block content_dash %}
  <div class="d-none d-md-flex coursenav border-right pt-5">
      <a href="#">About</a>
      <a href="#">Assignments</a>
      <a href="#">Grades</a>
      <a href="#">Lectures</a>
      {% if current_user.id == course.teacher_id %}
      {% endif %}
  </div>
  <div class="d-flex justify-content-center justify-content-md-start course-content mt-5 border-bottom">
    <h2>{{ course.id }} {{ course.title }}</h2>
  </div>
  <div class="d-flex justify-content-center course-content mt-2">
    <p>{{ course.syllabus }}</p>
  </div>
  <!-- Course Syllabus Buttons -->
  <div class="course-content">
    {% if current_user.id == course.teacher_id %}
      <button class="btn btn-primary" type="button">Edit Syllabus</button>
    {% endif %}
  </div>
{% endblock %}
