{% extends "dashboard.html" %}
{% block content_dash %}
  <div class="course-title border-bottom">
    <h2>{{ course.id }} {{ course.title }}</h2>
    <div class="d-none d-md-block">
      <ol class="breadcrumb ml-2 bg-transparent m-0">
        {% if "Assignment" in title %}
          <li class="breadcrumb-item">Assignments</li>
          {% if "New" in title %}
            <li class="breadcrumb-item">New</li>
          {% endif %}
        {% endif %}
      </ol>
    </div>
  </div>
  <div class="d-flex d-md-none justify-content-center">
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#courseNavDropdown">
      <span><i class="fas fa-chevron-down"></i></span>
    </button>
  </div>
  <div class="collapse navdrop d-md-none" id="courseNavDropdown">
    <a href="/dashboard/courses/{{course.id}}">About</a>
    <a href="/dashboard/courses/{{course.id}}/assignments">Assignments</a>
    <a href="/dashboard/courses/{{course.id}}/grades">Grades</a>
    <a href="/dashboard/courses/{{course.id}}/lectures">Lectures</a>
    <a href="/dashboard/courses/{{course.id}}/students">Students</a>
  </div>
  <div class="d-none d-md-flex coursenav pt-2">
      <a href="/dashboard/courses/{{course.id}}">About</a>
      <a href="/dashboard/courses/{{course.id}}/assignments">Assignments</a>
      <a href="/dashboard/courses/{{course.id}}/grades">Grades</a>
      <a href="/dashboard/courses/{{course.id}}/lectures">Lectures</a>
      <a href="/dashboard/courses/{{course.id}}/students">Students</a>
  </div>
  {% block course_content %}{% endblock course_content %}
{% endblock content_dash %}
