{% extends "course_layout.html" %}
{% block course_content %}
  {% if course.teacher_id == current_user.id %}
    <!-- MODAL EDIT COURSE -->
    <div id="edit_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="ml-3">Edit Course</h2>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <form class="needs-validation form-group mb-0" method="POST" novalidate>
            {{ edit_course_form.hidden_tag() }}
            <div class="modal-body mt-0">
              <div class="col mt-2">
                {{ edit_course_form.title(class="form-control", placeholder="Title") }}
              </div>
              <div class="col mt-2">
                {{ edit_course_form.subject(class="form-control", placeholder="Subject") }}
              </div>
              <div class="col my-2">
                {{ edit_course_form.points(class="form-control", placeholder="Max Points (less than 10,000) ") }}
              </div>
              <div class="col my-2">
                {{ edit_course_form.code(class="form-control", placeholder="Passcode (4-36 characters long)") }}
              </div>
              <div class="col d-flex flex-column align-items-center my-2">
                {{ edit_course_form.join.label }}
                <div class="d-flex justify-content-center align-items-start">
                  {% for field in edit_course_form.join %}
                    <div class="mx-1">
                      {{ field(class="mx-1 mt-1") }}
                      {{ field.label }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              {{ edit_course_form.submit(class="btn btn-outline-primary") }}
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- MODAL DELETE COURSE -->
    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="ml-3">Delete Course</h2>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <form class="form-group" action="" method="POST">
            <div class="modal-body d-flex justify-content-center align-items-center m-0">
              <p class="mx-2">Are you sure you wish to delete this course?</p>
              <button class="btn btn-outline-danger mb-0" type="submit" name="delete" value="true">Yes</button>
              <button class="mx-1 btn btn-outline-warning mb-0" type="button" data-dismiss="modal">No</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="course-content">
    {{ course.syllabus|safe }}
    {% if course.teacher_id == current_user.id %}
      <div class="d-flex justify-content-center my-5">
          <a class="btn btn-outline-primary mx-2 mb-5" href="{{ url_for('course_syllabus', course_id=course.id) }}">Edit Syllabus</a>
        <button class="btn btn-outline-warning mx-2 mb-5" type="button" data-toggle="modal" data-target="#edit_modal">Edit Course</button>
        <button class="btn btn-outline-danger mx-2 mb-5" type="button" data-toggle="modal" data-target="#delete_modal">Delete Course</button>
      </div>
    {% endif %}
  </div>
{% endblock course_content %}
