{% extends "layout.html" %}
{% block content %}
<!-- Top Section -->
<section>
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center p-0 m-0">
      <img class="col-md-6 m-0 p-0 mb-5"src="../static/images/laptop.jpg">
      <p class="col-md-6 text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>
<!-- Middle Section -->
<section>
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center p-0 m-0">
    <p class="col-md-6 text-center order-2 order-md-1 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <img class="col-md-6 m-0 p-0 order-1 order-md-2 mb-5"src="../static/images/classroom.jpg">
  </div>
</section>
{% endblock content %}
