{% extends "layout.html" %}
{% block content %}
  <!-- Empty strings in action returns same url -->
  <form class="needs-validation" method="POST" novalidate>
    <!-- CSRF token protects against input attacks -->
    {{ form.hidden_tag() }}
    <div class="row justify-content-center my-3">
      <h1 class="display-5">Login</h1>
    </div>
    <small class="row justify-content-center text-danger mb-2">
      {{ error }}
    </small>
    <div class="form-group d-flex flex-column align-items-center">
        <div class="col-8 col-md-6 col-lg-4 mb-3">
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid", placeholder="Email") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control", placeholder="Email") }}
            <div class="valid-feedback">
              <span>Looks Good!</span>
            </div>
          {% endif %}
        </div>
        <div class="col-8 col-md-6 col-lg-4 mb-3">
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid", placeholder="Password") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <small>{{ error }}</small>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", placeholder="Password") }}
            <div class="valid-feedback">
              <span>Looks Good!</span>
            </div>
          {% endif %}
        </div>
        <div class="col-8 col-md-6 col-lg-4 mb-3">
          {{ form.remember }}
          {{ form.remember.label }}
        </div>
      </div>
      <div class="d-flex justify-content-center my-4">
        {{ form.submit(class="btn btn-primary") }}
      </div>
  </form>
  <div class="border-top pt-3 row justify-content-center">
    <small class="text-muted">Forgot Your Password? <a href="#">Reset</a></small>
  </div>
  <div class="row justify-content-center">
    <small class="text-muted mb-5">Don't Have An Account? <a href="{{ url_for('register') }}">Register</a></small>
  </div>
{% endblock content %}
