{% extends "course_layout.html" %}
{% block course_content %}
<div class="course-content">
  <form id="assignment" class="needs-validation" action="{{ url_for('new_assignment', course_id=course.id) }}" method="POST" novalidate>
    {{ assignmentform.hidden_tag() }}
    <!-- Assignment -->
    <div class="form-group d-flex flex-column align-items-center">
      <div class="col-10 d-flex justify-content-center mb-3">
        <h3>New Assignment</h3>
      </div>
      <!-- Assignment Title -->
      <div class="col-10 mb-3">
        {{ assignmentform.title(class="form-control", placeholder="Title") }}
        <div class="invalid-feedback">
            <small id="assignment_title_error"></small>
        </div>
      </div>

      <!-- Assignment Type -->
      <div class="col-10 mb-3">
        {{ assignmentform.type(class="form-control") }}
      </div>

      <!-- Assignment Instructions -->
      <div class="col-10 mb-3">
          {{ assignmentform.content(class="form-control", placeholder="Instructions") }}
          <div class="invalid-feedback">
              <small id="assignment_content_error"></small>
          </div>
      </div>

      <!-- Assignment Points -->
      <div class="col-10 mb-1">
          {{ assignmentform.points(class="form-control", placeholder="Points") }}
          <div class="invalid-feedback">
              <small id="assignment_points_error"></small>
          </div>
      </div>

      <!-- Assignment Tries -->
      <div class="col-10 mb-1">
          {{ assignmentform.tries(class="form-control", placeholder="Tries") }}
          <div class="invalid-feedback">
              <small id="assignment_tries_error"></small>
          </div>
      </div>
    </div>


    <!-- QUESTIONS & OPTIONS -->
    <div id="questions" class="form-group d-flex flex-column align-items-stretch">

    </div>

    <div class="form-group d-flex flex-column align-items-center">
      <div class="col-10 d-flex justify-content-center my-1">
          <button id="add_question" class="btn btn-outline-success mt-1 mx-1" type="button">
            Add Question
          </button>
          <button id="remove_question" class="btn btn-outline-purple mt-1 mx-1" type="button">
            Remove Question
          </button>
      </div>
    </div>

    <!-- DUE DATE -->
    <div class="d-flex justify-content-center">
      <h5>{{ assignmentform.date_input.label }}</h5>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-3">
        {{ assignmentform.date_input(class="form-control", placeholder="M/D/Y") }}
        <div class="invalid-feedback">
            <small id="assignment_date_input_error"></small>
        </div>
      </div>
      <div class="form-group col-3">
        {{ assignmentform.hour(class="form-control") }}
      </div>
      <div class="form-group col-3">
        {{ assignmentform.minute(class="form-control") }}
      </div>
    </div>

    <div class="d-flex justify-content-center my-4">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>

  </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/new_assignment.js')|autoversion }}"></script>
{% endblock course_content %}
