{% extends "course_layout.html" %}
{% block course_content %}
<div id="add_q_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="ml-3">Add Questions</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <form class="needs-validation form-group mb-0" method="GET" novalidate>
        <div class="modal-body mt-0">
          <div class="col mt-2">
            <input class="form-control" type="text" name="q_amt" placeholder="Amount of Questions">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" type="submit" name="button">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="add_o_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="ml-3">Add Options</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <form class="needs-validation form-group mb-0" method="GET" novalidate>
        <div class="modal-body mt-0">
          <div class="col mt-2">
            <input class="form-control" type="text" name="o_amt" placeholder="Amount of Options">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" type="submit" name="button">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="course-content">
  <form class="needs-validation" action="/dashboard/courses/{{ course.id }}/assignments" method="POST">
    {{ assignmentform.hidden_tag() }}
    <div class="form-group d-flex flex-column align-items-center">
      <div class="col-10 mb-3">
        {% if assignmentform.title.errors %}
          {{ assignmentform.title(class="form-control is-invalid", placeholder="Title") }}
          <div class="invalid-feedback">
            {% for error in assignmentform.title.errors %}
              <small>{{ error }}</small>
            {% endfor %}
          </div>
        {% else %}
          {{ assignmentform.title(class="form-control", placeholder="Title") }}
          <div class="valid-feedback">
            <span>Looks Good!</span>
          </div>
        {% endif %}
      </div>
      <div class="col-10 mb-3">
        {{ assignmentform.type(class="form-control") }}
      </div>
      <div class="col-10 mb-3">
        {% if assignmentform.content.errors %}
          {{ assignmentform.content(class="form-control is-invalid", placeholder="Instructions (optional)", id="mytextarea") }}
          <div class="invalid-feedback">
            {% for error in assignmentform.content.errors %}
              <small>{{ error }}</small>
            {% endfor %}
          </div>
        {% else %}
          {{ assignmentform.content(class="form-control", placeholder="Instructions (optional)", id="mytextarea") }}
          <div class="valid-feedback">
            <span>Looks Good!</span>
          </div>
        {% endif %}
      </div>
      <div class="col-10 mb-1">
        {% if assignmentform.points.errors %}
          {{ assignmentform.points(class="form-control is-invalid", placeholder="Points") }}
          <div class="invalid-feedback">
            {% for error in assignmentform.points.errors %}
              <small>{{ error }}</small>
            {% endfor %}
          </div>
        {% else %}
          {{ assignmentform.points(class="form-control", placeholder="Points") }}
          <div class="valid-feedback">
            <span>Looks Good!</span>
          </div>
        {% endif %}
      </div>
      {% if q_amt > 0 %}
        {% for i in range(q_amt) %}
          <b class="mt-2">Question {{ i+1 }}</b>
          <div class="col-10 mb-1">
            {{ questionform.title(class="form-control", placeholder="Question Title") }}
          </div>
          <div class="col-10 mb-1">
            {{ questionform.question(class="form-control", placeholder="Question Content") }}
          </div>
          <div class="col-10 mb-1">
            {{ questionform.type(class="form-control", id="question_form_type") }}
          </div>
          {% if o_amt > 0 %}
            {% for j in range(o_amt) %}
              {{ optionform.option }}
            {% endfor %}
          {% endif %}
          <button id="add_o_btn" class="btn btn-outline-primary mt-1 d-none" type="button" data-toggle="modal" data-target="#add_o_modal">Add Options</button>
        {% endfor %}
      {% endif %}
      <button class="btn btn-outline-primary mt-1" type="button" data-toggle="modal" data-target="#add_q_modal">Add Questions</button>
    </div>
    <div class="d-flex justify-content-center">
      <b>{{ assignmentform.dateInput.label }}</b>
    </div>
      <div class="form-row justify-content-center">
          <div class="form-group col-3">
            {% if assignmentform.dateInput.errors %}
              {{ assignmentform.dateInput(class="form-control is-invalid", placeholder="M/D/Y") }}
              <div class="invalid-feedback">
                {% for error in assignmentform.dateInput.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% else %}
              {{ assignmentform.dateInput(class="form-control", placeholder="M/D/Y") }}
              <div class="valid-feedback">
                <span>Looks Good!</span>
              </div>
            {% endif %}
          </div>
          <div class="form-group col-3">
            {{ assignmentform.hour(class="form-control") }}
          </div>
          <div class="form-group col-3">
            {{ assignmentform.minute(class="form-control") }}
          </div>
      </div>
    <div class="d-flex justify-content-center my-4">
      {{ assignmentform.submit(class="btn btn-outline-primary") }}
    </div>
  </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/new_assignment.js')|autoversion }}"></script>
{% endblock course_content %}
