{% extends "layout.html" %}
{% block content %}
  <div class="h-100 container">
    <div class="row justify-content-center extra-margin">
      <h1 class="display-3">I am a</h1>
    </div>
    <div class="row justify-content-around mt-5">
      <a href="{{ url_for('login') }}">
          <input class="btn btn-primary" type="button" name="student" value="Student">
      </a>
      <a href="{{ url_for('login') }}">
          <input class="btn btn-primary" type="button" name="teacher" value="Teacher">
      </a>
    </div>
  </div>
{% endblock content %}
