{% extends "dashboard.html" %}
{% block content_dash %}

  {% if edit == "true" %}
    <form class="needs-validation mb-5" action="{{ url_for('profile') }}" method="POST" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}
      <!-- SECTION 1 NAME -->
      <section>
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start my-5 mx-5">
          <img class="rounded-circle profile-img" src="{{ profile_image }}" alt="">
          <div class="mt-5 mt-sm-0 mx-5 col col-sm-7 col-lg-5 col-xl-4">
            {% if form.fullname.errors %}
              {{ form.fullname(class="form-control is-invalid", placeholder="Fullname") }}
              <div class="invalid-feedback">
                {% for error in form.fullname.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% else %}
              {{ form.fullname(class="form-control", placeholder="Fullname") }}
            {% endif %}
          </div>
        </div>
      </section>
      <!-- SECTION 2 EMAIL -->
      <section>
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start my-5 mx-5">
          <div>
            <h2 class="email-profile d-none d-sm-block">Email:</h2>
          </div>
          <div class="mx-5 col col-sm-7 col-lg-5 col-xl-4">
            {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid", placeholder="Email") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control", placeholder="Email") }}
            {% endif %}
          </div>
        </div>
      </section>
      <!-- SECTION 3 BIO -->
      <section>
        <div class="d-flex justify-content-start mx-5">
          <h2 class="d-none d-sm-block">Biography:</h2>
        </div>
        <div class="d-flex justify-content-center justify-content-sm-start mx-5">
            {% if form.biography.errors %}
              {{ form.biography(class="form-control is-invalid mt-3", placeholder="A short story about your journey...") }}
              <div class="invalid-feedback">
                {% for error in form.biography.errors %}
                  <small>{{ error }}</small>
                {% endfor %}
              </div>
            {% else %}
              {{ form.biography(class="form-control bio-size", placeholder="A short story about your journey...") }}
            {% endif %}
        </div>
      </section>
      <!-- SECTION 4 REMOVE PROFILE PICTURE -->
      <section>
        <div class="d-flex justify-content-center justify-content-sm-start mt-3 mx-5">
          {{ form.removepic.label }}
          <div class="ml-2">
            {{ form.removepic }}
          </div>
        </div>

      </section>
      <!-- SECTION 5 FILE UPLOAD-->
      <section>
        <div class="d-flex justify-content-center justify-content-sm-start mt-3 mx-5">
          <p>Update Profile Picture</p>
        </div>
          <!-- <button class="btn btn-light" type="button">{{ form.picture.label(class="p-0 m-0") }}</button>
          {{ form.picture(class="d-none m-0 p-0") }} -->
          {% if form.picture.errors %}
            <div class="form-group d-flex justify-content-center justify-content-sm-start mx-5">
              <button class="btn btn-light" type="button">{{ form.picture.label(class="p-0 m-0") }}</button>
              {{ form.picture(class="d-none") }}
            </div>
            <div class="text-danger d-flex justify-content-center justify-content-sm-left">
              {% for error in form.picture.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
          {% else %}
            <div class="form-group d-flex justify-content-center justify-content-sm-start mx-5">
              <button class="btn btn-light" type="button">{{ form.picture.label(class="p-0 m-0") }}</button>
              {{ form.picture(class="d-none") }}
            </div>
          {% endif %}
      </section>
      <!-- SECTION 6 SUBMIT -->
      <section>
        <div class="form-group d-flex justify-content-center justify-content-sm-start mx-5 mt-2">
          {{ form.submit(class="btn btn-primary mb-5") }}
        </div>
      </section>
    </form>

  {% else %}

    <!-- SECTION 1 NAME -->
    <section>
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start my-5 mx-5 mx-md-5">
        <img class="rounded-circle profile-img" src="{{ profile_image }}" alt="">
        <div class="mt-5 mt-sm-0 mx-5">
          <h2 class="text-nowrap">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
        </div>
      </div>
    </section>
    <!-- SECTION 2 EMAIL -->
    <section>
      <div class="d-flex flex-column flex-sm-row align-items-center justify-content-start my-5 mx-5 mx-md-5">
        <div class="d-none d-sm-block">
          <h2 class="email-profile">Email:</h2>
        </div>
        <div class="mx-5">
          <h5>{{ current_user.email }}</h5>
        </div>
      </div>
    </section>
    <!-- SECTION 3 BIO -->
    <section>
      <div class="d-none d-sm-block justify-content-start mx-5 mx-md-5">
        <h2>Biography:</h2>
      </div>
      <div class="d-flex justify-content-center justify-content-sm-start mx-5 mx-md-5">
        <p class="text-center text-sm-left">{{ current_user.biography }}</p>
      </div>
    </section>
    <!-- SECTION 4 EDIT -->
     <section>
       <div class="mb-5 d-flex justify-content-center justify-content-sm-start mx-5 mx-md-5 my-2">
         <form class="d-inline" action="" method="GET">
           <button class="btn btn-light mb-5" type="submit" name="edit" value="true">Edit Profile</button>
         </form>
          <a class="btn btn-light ml-2 mb-5"href="{{ url_for('logout') }}">Logout</a>
       </div>
     </section>
  {% endif %}
{% endblock content_dash %}
