{% extends "dashboard.html" %}
{% block content_dash %}

    <!-- SECTION 1 -->
  <section>
    <div class="d-flex align-items-center justify-content-around justify-content-md-start my-5">
      <img class="mx-md-5 rounded-circle profile-img" src="{{ profile_image }}" alt="">
      <h2 class="display-5 m-0">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
    </div>
  </section>
  <!-- SECTION 2 -->
  <section>
    <div class="d-flex align-items-center justify-content-around justify-content-md-start my-5">
      <h2 class="display-5 mx-md-5">Email:</h2>
      <span>{{ current_user.email }}</span>
    </div>
  </section>
   <!-- SECTION 3 -->
   <section>
     <div class="flex-column align-content-md-start mx-5">
       <h2 class="display-5">Biography:</h2>
       <p>{{ current_user.biography }}</p>
     </div>
   </section>
{% endblock content_dash %}
