{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center">
      <h1 id="title">Testing Page</h1>
      <div class="col-8">
        <form id="myForm" class="form-group text-center">
            <input id="emailInput" class="form-control my-1" type="text" name="email" placeholder="email">
            <input id="nameInput" class="form-control my-1" type="text" name="name" placeholder="name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js')|autoversion }}"></script>
  </body>
</html>
{% endblock content %}
