{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center">
      <h1 id="title">Testing Page</h1>
      <!-- ALERTS -->
      <div id="successAlert" class="col-9 my-1 p-2 alert alert-success alert-dismissible fade show text-center" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="errorAlert" class="col-9 my-1 p-2 alert alert-danger alert-dismissible fade show text-center" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-8">
        <form id="myForm" class="form-group text-center">
            <input id="emailInput" class="form-control my-1" type="text" name="email" placeholder="email">
            <input id="nameInput" class="form-control my-1" type="text" name="name" placeholder="name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js')|autoversion }}"></script>
  </body>
</html>
{% endblock content %}
