{% extends "dashboard.html" %}
{% block content_dash %}

  {% if current_user.profession == "Teacher" %}
  <!-- MODAL NEW COURSE -->
      <div id="new_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header bg-blue border-0">
              <div class="col-11 d-flex justify-content-center">
                <h2 class="ml-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 3 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open icons-vis"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                  New Course
                </h2>
              </div>
              <div class="col-1">
                <button type="button" class="x-close" data-dismiss="modal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
              </div>
            </div>
            <form class="needs-validation form-group mb-0" method="POST" novalidate>
              {{ new_course.hidden_tag() }}
              <div class="modal-body mt-0">
                <div class="col mt-2">
                  {{ new_course.title(class="form-control", placeholder="Title") }}
                </div>
                <div class="col mt-2">
                  {{ new_course.subject(class="form-control", placeholder="Subject") }}
                </div>
                <div class="col my-2">
                  {{ new_course.points(class="form-control", placeholder="Max Points  (less than 10,000) ") }}
                </div>
                <div class="col my-2">
                  {{ new_course.code(class="form-control", placeholder="Passcode (4-36 characters long)") }}
                </div>
                <div class="col d-flex flex-column align-items-center my-2">
                  {{ new_course.join.label }}
                  <div class="d-flex justify-content-center align-items-start">
                    {% for field in new_course.join %}
                      <div class="mx-1">
                        {{ field(class="mx-1 mt-1") }}
                        {{ field.label }}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                {{ new_course.submit(class="btn btn-blue") }}
              </div>
            </form>
          </div>
        </div>
      </div>
  {% elif current_user.profession == "Student" %}
    <!-- MODAL ADD COURSE -->
    <div id="add_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-blue border-0">
            <div class="col-11 d-flex justify-content-center">
              <h2 class="ml-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 3 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open icons-vis"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                Add Course
              </h2>
            </div>
            <div class="col-1">
              <button type="button" class="x-close" data-dismiss="modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
              </button>
            </div>
          </div>
          <form class="form-group" action="" method="POST">
            {{ add_course.hidden_tag() }}
            <div class="modal-body">
                <div class="col">
                  <h5>Paste Your Course Id & Code</h5>
                </div>
                <div class="col my-1">
                  {{ add_course.course_id(class="form-control", placeholder="Course ID") }}
                </div>
                <div class="col my-1">
                  {{ add_course.code(class="form-control", placeholder="Passcode") }}
                </div>
                <div class="col">
                  <small class="text-muted mt-1 ml-2">This should have been emailed to you by your professor.</small>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center pb-0">
              {{ add_course.submit(class="btn btn-blue") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  <!-- SECTION 1 - COURSES -->
  <div class="dashboard-header">
    <h2>Courses</h2>
  </div>
  <section>
    <div class="container mx-md-5">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message-course">
                <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row mt-5">
        {% for i in range(courses| length) %}
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-5">
          <a id="course_{{ i }}" class="card-link" href="/dashboard/courses/{{ courses[i].id }}">
            <div class="card-course">
              <div class="card-course-header">
                <h5 class="text-white">
                  {{ courses[i].title }}
                </h5>
              </div>
              <div class="card-course-body d-flex align-items-center justify-content-center">
                  <p>
                    {{ courses[i].subject }}
                  </p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <!-- SECTION 2 - CREATE COURSE LINK -->
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="card-add">
            <div class="card-course-body d-flex align-items-center justify-content-center">
              {% if current_user.profession == 'Teacher' %}
                <button id="new" class="add-course-btn noSelect" type="button" data-toggle="modal" data-target="#new_modal">
                  <svg height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="icons" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                </button>
              {% else %}
                <button id="add" class="add-course-btn" type="button" data-toggle="modal" data-target="#add_modal">
                  <svg height="1.25em" width="1.25em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="icons" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="../{{ url_for('static', filename='js/courses.js')|autoversion }}"></script>
{% endblock content_dash %}
