{% extends "course_layout.html" %}
{% block course_content %}
  <div class="dashboard-content">
    {% if current_user.profession == "Teacher" %}
      <div class="d-flex justify-content-center align-items-center my-2">
        <h4>Grades for {{ student.first_name }} {{ student.last_name }} ID#{{ student.id }}</h4>
      </div>
    {% endif %}
    <div class="container-table">
      <table class="col-12 table-e">
        <thead>
          <tr>
            <th scope="col"><h4>
              <svg height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 30 512 512"><path class="icons" d="M396.8 352h22.4c6.4 0 12.8-6.4 12.8-12.8V108.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v230.4c0 6.4 6.4 12.8 12.8 12.8zm-192 0h22.4c6.4 0 12.8-6.4 12.8-12.8V140.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v198.4c0 6.4 6.4 12.8 12.8 12.8zm96 0h22.4c6.4 0 12.8-6.4 12.8-12.8V204.8c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v134.4c0 6.4 6.4 12.8 12.8 12.8zM496 400H48V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16zm-387.2-48h22.4c6.4 0 12.8-6.4 12.8-12.8v-70.4c0-6.4-6.4-12.8-12.8-12.8h-22.4c-6.4 0-12.8 6.4-12.8 12.8v70.4c0 6.4 6.4 12.8 12.8 12.8z"/></svg>
              Total Grade
            </h4></th>

            <th scope="col"><h4>{{ course_user.points }} / {{ current_assignment_points }}</h4></th>

            {% if course_user.points != 0 %}
              <th scope="col"><h4>{{ course_user.grade }}</h4></th>
            {% else %}
              <th scope="col"><h4>{{ "0%" }}</h4></th>
            {% endif %}

          </tr>
        </thead>

        {% for key, value in assignment_points.items() %}
          <thead>
            <tr>

              {% if key != "Instructions" %}
                <th scope="col"><h6>{{ key }}</h6></th>
              {% else %}
                <th scope="col"><h6>Other</h6></th>
              {% endif %}

              <th scope="col"><h6>{{ user_points[key] }} / {{ value }}</h6></th>

              {% if user_points[key] != 0 %}
                <th scope="col"><h6>{{ '{:.2%}'.format(user_points[key]/value) }}</h6></th>
              {% else %}
                <th scope="col"><h6>{{ "0%" }}</h6></th>
              {% endif %}

            </tr>
          </thead>
        {% endfor %}
      </table>
    </div>
    <div class="container-table my-5">
      <table class="col-12 table-e">
        <thead>
          <tr>
            <th><h5>
              <svg class="icons-vis" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 60 512 512"><path class="icons" d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v340a6 6 0 0 1-6 6zm-42-92v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm-252 12c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36z"/>
              </svg>
              Assignment
            </h5></th>
            <th><h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 3 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock icons-vis"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
              Due Date
            </h5></th>
            <th><h5>Points</h5></th>
            <th><h5>Out of</h5></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(assignments| length) %}
            <tr>
              <td class="assignment-link"><a href="{{ url_for('assignments.assignment', course_id=course.id, assignment_id=assignments[i].id) }}">{{ assignments[i].title }}</a></td>
              <td>{{ moment(assignments[i].duedate_ctime).format('LLL') }}</td>
              {% if user_latest_assignments[i] != 0 %}
                <td>{{ user_latest_assignments[i].points }}</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>{{ assignments[i].points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if current_user.id == course.teacher_id %}
      <div class="d-flex justify-content-center">
        <a class="btn btn-blue" href="{{ url_for('students.student_grades_edit', course_id=course.id, student_id=course_user.user_id) }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="1em" height="1em" viewBox="0 2 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
            <line x1="16" y1="5" x2="19" y2="8" />
          </svg>
          Edit Grades
        </a>
      </div>
    {% endif %}
  </div>
{% endblock course_content %}
