{% extends "course_layout.html" %}
{% block course_content %}
{% if current_user.id == course.teacher_id %}
  <!-- MODAL DELETE ASSIGNMENT -->
  <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-red border-0">
          <div class="col-11 d-flex justify-content-center">
            <h2 class="ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 3 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 icons-vis"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
              Delete Lecture
            </h2>
          </div>
          <div class="col-1">
            <button type="button" class="x-close" data-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </button>
          </div>
        </div>
        <form class="form-group" action="" method="POST">
          <div class="modal-body d-flex justify-content-center align-items-center m-0">
            <p class="mx-2">Are you sure you wish to delete this lecture?</p>
            <button class="btn btn-red mb-0" type="submit" name="delete" value="true">Yes</button>
            <button class="mx-1 btn btn-yellow mb-0" type="button" data-dismiss="modal">No</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
    <div class="dashboard-content">
      <div class="lecture-title">
        <h3>{{ lecture.title }}</h3>
      </div>
        <div class="embed-padding">
            <div class="embed-container">
                <iframe width="560" height="349" frameborder="0" src="{{ lecture.url }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center mt-2 mb-4 p-2">
            <div class="pl-5 pr-5 my-2">
                <p>
                    {{ lecture.description| safe }}
                </p>
            </div>
        </div>
        {% if current_user.id == course.teacher_id %}
        <div class="d-flex justify-content-center">
          <button class="btn btn-red mx-2 mb-5" type="button" data-toggle="modal" data-target="#delete_modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 3 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 icons-vis"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
            Delete Lecture
          </button>
        </div>
      {% endif %}
    </div>
{% endblock course_content %}