{% extends "course_layout.html" %}
{% block course_content %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<div class="dashboard-content">
  <form id="assignment" class="needs-validation" action="{{ url_for('assignments.new_assignment', course_id=course.id) }}" method="POST" novalidate>
    {{ assignmentform.hidden_tag() }}
    <!-- Assignment -->
    <div class="form-group d-flex flex-column align-items-center">
      <div class="col-10 d-flex justify-content-center mb-3">
        <h3>New Assignment</h3>
      </div>
      <!-- Assignment Title -->
      <div class="col-10 mb-3">
        {{ assignmentform.title(class="form-control", placeholder="Title") }}
        <div class="invalid-feedback">
            <small id="assignment_title_error"></small>
        </div>
      </div>

      <!-- Assignment Type -->
      <div class="col-10 mb-3">
        {{ assignmentform.type(class="form-control") }}
      </div>

      <!-- Assignment Instructions -->
      <div class="col-10 mb-3">
          {{ assignmentform.content(class="form-control", placeholder="Instructions") }}
          <div class="invalid-feedback">
              <small id="assignment_content_error"></small>
          </div>
      </div>

      <!-- Assignment Points -->
      <div class="col-10 mb-1">
          {{ assignmentform.points(class="form-control", placeholder="Points (less than 500)") }}
          <div class="invalid-feedback">
              <small id="assignment_points_error"></small>
          </div>
      </div>

      <!-- Assignment Tries -->
      <div class="col-10 mb-1">
          {{ assignmentform.tries(class="form-control", placeholder="Tries (less than 10)") }}
          <div class="invalid-feedback">
              <small id="assignment_tries_error"></small>
          </div>
      </div>
    </div>


    <!-- QUESTIONS & OPTIONS -->
    <div id="questions" class="form-group d-flex flex-column align-items-stretch">

    </div>

    <div class="form-group d-flex flex-column align-items-center">
      <div class="col-10 d-flex justify-content-center my-1">
          <button id="add_question" class="btn btn-sm btn-green mt-1 mx-1" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus icons-vis" width="1em" height="1em" viewBox="0 3 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            Add Question
          </button>
          <button id="remove_question" class="btn btn-sm btn-green mt-1 mx-1" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-minus icons-vis" width="1em" height="1em" viewBox="0 2 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            Remove Question
          </button>
      </div>
    </div>

    <!-- DUE DATE -->
    <div class="d-flex justify-content-center">
      <h5>{{ assignmentform.date_input.label }}</h5>
    </div>
    <div class="form-row justify-content-center">
      <div class="form-group col-3" id="datefield">
        {{ assignmentform.date_input(class="form-control datepicker", placeholder="M/D/Y", **{'data-date-format':'mm/dd/yyyy'})}}
        <div class="invalid-feedback">
            <small id="assignment_date_input_error"></small>
        </div>
      </div>
      <div class="form-group col-3">
        {{ assignmentform.hour(class="form-control") }}
      </div>
      <div class="form-group col-3">
        {{ assignmentform.minute(class="form-control") }}
      </div>
    </div>

    <div class="d-flex justify-content-center my-4">
      <button class="btn btn-green" type="submit">Create</button>
    </div>

  </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/new_assignment.js')|autoversion }}">
</script>
{% endblock course_content %}
