{% extends "layout.html" %}
{% block content %}
    <!-- Empty strings in action returns same url -->
    <form class="needs-validation" method="POST" novalidate>
        <!-- CSRF token protects against input attacks -->
        {{ form.hidden_tag() }}
        <div class="row justify-content-center mb-3 mt-7">
        <h1 class="display-5">Reset Password</h1>
        </div>
        <div class="form-group d-flex flex-column align-items-center">
            <div class="col-8 col-md-6 col-lg-4">
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <small>{{ error }}</small>
                {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control", placeholder="Email") }}
                <div class="valid-feedback">
                <span>Looks Good!</span>
                </div>
            {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4 mb-7">
            {{ form.submit(class="btn btn-blue") }}
        </div>
    </form>
    <div class="border-top pt-3 row justify-content-center">
        <small class="text-muted mb-5">Don't Have An Account? <a href="{{ url_for('users.register') }}">Register</a></small>
    </div>
{% endblock content %}